In [57]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [61]:
#Study the covid data files
covid_dhss_path = "data/COVID_VIC.csv"

#Read the Covid data
covid_dhss_data = pd.read_csv(covid_dhss_path)

In [62]:
covid_dhss_data.head()

,diagnosis_date,Postcode,acquired,Localgovernmentarea
0,11/03/2020,3216.0,Travel overseas,Greater Geelong
1,8/03/2020,3942.0,Travel overseas,Mornington Peninsula
2,9/03/2020,3206.0,Travel overseas,Port Phillip
3,1/08/2020,3754.0,Contact with a confirmed case,Whittlesea
4,1/03/2020,3802.0,Travel overseas,Casey

In [63]:
covid_dhss_data.dtypes

diagnosis_date          object
Postcode               float64
acquired                object
Localgovernmentarea     object
dtype: object

In [64]:
#removing overseas and interstates cases from Localgovernmentarea
covid_dhss_local = covid_dhss_data[(covid_dhss_data["Localgovernmentarea"]!="Overseas") & (covid_dhss_data["Localgovernmentarea"]!="Interstate")]
covid_dhss_local

,diagnosis_date,Postcode,acquired,Localgovernmentarea
0,11/03/2020,3216.0,Travel overseas,Greater Geelong
1,8/03/2020,3942.0,Travel overseas,Mornington Peninsula
2,9/03/2020,3206.0,Travel overseas,Port Phillip
3,1/08/2020,3754.0,Contact with a confirmed case,Whittlesea
4,1/03/2020,3802.0,Travel overseas,Casey
...,...,...,...,...
20677,12/06/2021,3012.0,Contact with a confirmed case,Maribyrnong
20681,11/06/2021,3006.0,Contact with a confirmed case,Melbourne
20685,15/06/2021,3006.0,Contact with a confirmed case,Melbourne
20686,15/06/2021,3006.0,Contact with a confirmed case,Melbourne
20687,20/06/2021,3006.0,Contact with a confirmed case,Melbourne

In [108]:
#covid_dhss_local.Localgovernmentarea.str.strip()

0             Greater Geelong
1        Mornington Peninsula
2                Port Phillip
3                  Whittlesea
4                       Casey
                 ...
20677             Maribyrnong
20681               Melbourne
20685               Melbourne
20686               Melbourne
20687               Melbourne
Name: Localgovernmentarea, Length: 20387, dtype: object

In [102]:


#Just Removing other regional states

#Set up metropolitan local government area list
metropolitan_lga =['Banyule', 'Hume', 'Moreland', 'Bayside', 'Kingston', 'Mornington Peninsula', 'Boroondara', 'Knox', 'Nillumbik', 'Brimbank', 
                    'Manningham', 'Port Phillip', 'Cardinia', 'Maribyrnong', 'Stonnington', 'Casey', 'Maroondah', 'Whitehorse', 
                    'Darebin', 'Melbourne', 'Whittlesea', 'Frankston', 'Melton', 'Wyndham', 'Glen Eira', 'Monash', 'Yarra', 'Greater Dandenong', 
                    'Moonee Valley', 'Yarra Ranges','Hobsons Bay']


#isin metropolitan_lga
covid_dhss_metro = covid_dhss_local[covid_dhss_local.Localgovernmentarea.isin(metropolitan_lga)]
covid_dhss_metro

Empty DataFrame
Columns: [diagnosis_date, Postcode, acquired, Localgovernmentarea]
Index: []

In [106]:
#covid_dhss_local[covid_dhss_local.Localgovernmentarea=='Melbourne ']

,diagnosis_date,Postcode,acquired,Localgovernmentarea
6,30/01/2020,3006.0,Travel overseas,Melbourne
15,4/03/2020,3006.0,Travel overseas,Melbourne
49,17/03/2020,3008.0,Travel overseas,Melbourne
53,17/03/2020,3008.0,Travel overseas,Melbourne
68,20/03/2020,3141.0,Travel overseas,Melbourne
...,...,...,...,...
20675,15/06/2021,3006.0,Contact with a confirmed case,Melbourne
20681,11/06/2021,3006.0,Contact with a confirmed case,Melbourne
20685,15/06/2021,3006.0,Contact with a confirmed case,Melbourne
20686,15/06/2021,3006.0,Contact with a confirmed case,Melbourne
20687,20/06/2021,3006.0,Contact with a confirmed case,Melbourne